doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
    body
        if message.length!=0
            em Wrong message: #{message}
        div#signUp
            h3 Sign-up
            form(action='/signUp', method='post')
                label email 
                input(
                    type='text'
                    name='email'
                )
                label password
                input(
                    type='password'
                    name='password'
                )
                button.btn(type="submit", name="signUpBtn") Submit 
        
        div#signIn
            h3 Sign-in
            form(action='/signIn', method='post')
                label email 
                input(
                    type='text'
                    name='email'
                )
                label password
                input(
                    type='password'
                    name='password'
                )
                button.btn(type="submit", name="signInBtn") Submit 